/* ở đây chứa những thành phần chung của một trang web
lưu ý khi chỉnh sửa */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}
html,body {
    overflow-x: hidden;
    overscroll-behavior: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}   
.app {
    position: relative;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    overflow: hidden;
}