*{
    padding: 0px;
    margin: 0px;
}
.app .banner img{
    margin-top: 80px;
    width: 100%;
    height: 200px;
    box-shadow: 0px 0px 5px gray;
}


.content{
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}
.content .traiNghiem{
    display: flex;
    width: 100%;
    margin-top: 70px;
}
.traiNghiem .text{
    float: left;
    width: 50%;
    padding-left: 5%;
}
.traiNghiem .anh{
    display: flex;
    width: 50%;
    padding-left: 10%;
    
}
.traiNghiem .anh p{
    text-align: left;
    margin-top: 80px;
}
.traiNghiem .anh img{
    width: 220px;
    height: 250px;
    border-radius: 50px;
}

/* Cam kết của chúng tôi */
.cali .camKet{
    margin-top: 70px;
    text-align: center;
}
.banCamKet{
    width: 100%;
    margin-top: 70px;
    text-align: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 20px;
    display: flex;
}
.cali .banCamKet h4{
    margin: 10px;
}
.cali .banCamKet div{
    border-radius: 15px;
    background-color: rgb(237, 233, 233);
    width: 230px;
    height: 120px;
}
/* Dịch vụ nổi bậtt */
.damMay{
    position: relative;
    margin-top: 62px;
    background-color: #A9D8EA;
    font-weight: bold;
    width: 100vw;
    height: 200px;
    justify-items: center;
}
.damMay h1{
    color: white;
    text-align: right;
    padding-top: 70px;
    padding-left: 275px;
}
.damMay .hinhdammay{
    bottom: 50px;
    left: 0px;
    position: absolute;
}

/*Đánh giá của khách hàng*/
.danhGia{
    margin-top: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.danhGia .comment{
    margin-top: 40px;
    display: flex;
    width: 100%;
    text-align: left;
}
.danhGia .comment .cm{
    width: 25%;
    min-height: 200px;
    background-color: whitesmoke;
    margin: 0px 5%;

}
.danhGia .comment .cm p{
    font-size: 13pt;
    margin: 15px;
 
}
.danhGia .comment .cm .avatar{
    display: flex;
    margin: 0px 15px;
} 
.danhGia .comment .cm .avatar img{
    margin: 50px 20px;
    width: 50px;
    height: 50px;
}
.danhGia .comment .cm .avatar p{
    margin: 50px 20px;
}
/*Đăng ký Email*/
