*{
    padding: 0px;
    margin: 0px;
}
.banner{
    padding-top: 75px;
}
.app .banner .text{
    padding: 100px;
    background-repeat: no-repeat;
    background-image: url("https://media.vneconomy.vn/images/upload/2023/05/13/dbscl-4604.jpg");
    background-size: 100% 250px;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-size: cover;
    text-shadow: 0px 0px 5px black;
}
.app .banner .text a{
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 5px black;
}
.app .banner .text a:hover{
    text-decoration: underline;
}
/* content */
.lum{
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}

.lum iframe {
    width: 100%;
    height: 100vh;
    pointer-events: none;
    object-fit: cover;
    display: block;
    filter: brightness(0.8);
}

.lum h3{
    font-size: 30px;
}
.lum .light{
    padding-top: 35px;
    gap: 50px;
    display: flex;
    color: #000000;
}
.lum .light div{
    background-color: rgba(128, 128, 128, 0.448);
    border-radius: 15px;
    width: 530px;
    height: 225px;
    padding: 10px;
}
.lum .light span{
    font-size: 20px;
    font-weight: bold;
}
.lum .light p{
    padding-top: 10px;
}
/*Đặc trưng */
.dacTrung{
    width: 90%;
    margin: 0 auto;
}
.dacTrung .col-0{
    background-color: rgb(114, 192, 220);
    justify-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    border-radius: 100px;
    margin-bottom: 30px;
}
.dacTrung .col-0 .col-1{
    background-color: #D2D1F8;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
}
.dacTrung .col-0 .col-2{
    text-align: center;
    display: flex;
    font-size: 18px;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


/* phần ở dưới */
.introduce-content{
    display: flex;
    gap: 100px;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;

}
.introduce-content .row-1{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.introduce-content .row-2{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.introduce-content .col-1{ 
    padding-bottom: 30px; 
    flex: 1;
    justify-items: center;
    
}
.introduce-content .col-2{
    flex: 1;
    gap: 100px;
    display: flex;
    flex-direction: row;
}
/* 2 thành phần con */
/* về hình dáng của nó */
.introduce-content .col-2 .cont-1{
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-color:  #EAEAEA;
    border-radius: 50px;
    padding: 50px;
}
.introduce-content .col-2 .cont-2{
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color: #eaeaea;
    border-radius: 50px;
    padding: 50px;
}
/* nút đặc trưng lớn */
.vanhoa{
    padding: 30px;
    height: 300px;
    justify-items: center;
}
.vanhoa .background{
    width: 90%;
    height: 100%;
    display: flex;
}
.vanhoa .row-1{
    flex: 1;
    transform: translateY(-50px) translateX(50px);
    background-color: #C7C4F0;
    border-radius: 50%;
    position: relative;
}
.vanhoa .row-1 .text-inside{
    position: absolute;
    bottom: 35%;
    left: 20%;
}
.vanhoa .row-2{
    flex: 5;
    align-content: center;
    justify-items: center;
    background-color: #B2E0EF;
    border-radius: 50px;
}
.vanhoa .row-2 .content{
    font-size: 120%;
    width: 80%;
}
.vanhoa .half{
    width: 100%;
    height: 50%;
    overflow: hidden;

}
.vanhoa .half .full{
    width: 100%;
    border-radius: 50%;
    height: 200%;
    position: relative;
    background-color: #D2D1F8;
}
.vanhoa .half .full .text-inside-2{
    position: absolute;
    top: 30%;
    left: 20%;
}
.vanhoa .background p{

    font-weight: bold;
}
/* phone */
.volka{
    justify-content: center;
    display: flex;
}
.volka .vol1{
    /* background */
    width: 1000px;
    height: 650px;
    background-size: 100% 600px;
    background-image: url('../img/phone.jpg');
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    /* text */
    font-size: 30px;
    padding-top: 80px;
    padding-left: 50px;
}
.vol1>h2{
    text-shadow: 0px 0px 5px white;
}
.volka .vol2 img{
    width: 20%;
    vertical-align: middle;
}
.volka .vol2{
    margin: 10px;
    width: 400px;
    height: 100px;
    display: flex;
    background-color: silver;
    justify-content: center;
    border-radius: 15px;
    color: black;
    opacity: 1;
    font-size: 20px;
    align-items: center;
}