body {
    background-color: rgb(230, 227, 227);
    font-family: Arial, sans-serif;
}

.banner img{
    position: relative;
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.banner .text span{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
    font-size: 40px;
    
}

.banner .text p{
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.map{
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
.map img{
    width: 100%;
    height: 400px;
}


.content{
    width: 98%;
    max-width: 1200px;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
}

.title h1 {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    text-align: center;

}

.title p {
  text-align: center;
  color: grey;
  padding-top: 20px;
  margin: 0 auto;
  width: 70%;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1200px;
  
  gap: 20px;
}


.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.left {
  flex: 1;
  min-width: 280px;
}

.info {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 25px;
}

.info img {
  width: 50px;
  height: 50px;
}

.info-text strong {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.info-text p {
  margin: 0;
  color: #333;
}

.info-text a {
  color: #333;
  text-decoration: underline;
}

.right {
  flex: 2;
  min-width: 300px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.contact-form button {
  background-color: red;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  width: 150px;
  align-self: center;
}

.contact-form button:hover {
  background-color: rgb(226, 79, 79);
}


.subscribe-form {
  background-color: rgb(128, 197, 229);
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px ;
  justify-content: center;
  align-items: center;
  
}
.subscribe-form .left {
  width: 100%;
  
}
.subscribe-form .left p {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
  padding-left: 60px;
  color: white;
  text-align: center;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right .btn-subscribe {
background-color: red;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  width: 150px;
}
.right .btn-subscribe:hover {
  background-color: rgb(226, 79, 79);
}