    *{
        padding: 0;
        margin: 0;
        max-width: 100vw;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    body {
        overflow-x: hidden;
    }

    .all{
        width: 1400px;
        margin: 0 auto;
        position: relative;
    }
    .menu{
        background-color: rgba(255, 255, 255, 0.801);
        padding: 10px;
        height: 30px;
        width: 100%;
        position: fixed;
        display: flex;
        z-index: 1000;
        top: 0;
        left: 0;
        box-shadow: 0px 0px 0px 0.1px black;
    }
    .menu>ul>li{
        display: inline-block;
        position: relative;
    }
    .title{
        padding-top: 5px;
        width: 190px;
        object-fit: cover;
        padding-right: 30px;
    }
    .empty{
        width: 20px;
        height: 50px;
    }
    /* navigationbar */

    .menu>ul>li>ul{
        position: absolute;
        padding: 20px;
        width: auto;
        height: auto;
        justify-content: center;
        transform: translateY(100px);
        background-color: rgb(255, 255, 255);
        visibility: hidden;
        display: flex;
        opacity: 0;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    .menu>ul>li:hover>ul{
        visibility: visible;
        display: flex;
        gap: 50px;
        opacity: 1;
        transform: translateY(50px);
    }
    .menu>ul>li>ul>li>ul{
        padding-top: 10px;
        list-style-type: none;
        
    }

    .menu>ul>li>ul>li>ul>li>a{
        text-decoration: none;
        color: #6c6c6c;
        line-height: 30px;
    }
    .menu>ul>li>ul>li>ul>li>a:hover{
        color: rgba(255, 132, 0, 0.521);
        
    }
    .menu>ul>li>ul>li>a{
        color: black;
        font-weight: bold;
    }
    .menu>ul>li>ul>li>a:hover{
        color: rgba(255, 132, 0, 0.521);
    }
    .menu>ul>li{
        display: inline-block;
        height: 40px;
        
    }
    .menu>ul{
        padding-left: 50px;
        text-align: left;
        align-items: center;
    
    }
    .menu>ul>li>a{
        color: black;
        text-decoration: none;
        padding: 0px 20px;
        font-weight: bold;
        transition: 0.1s ease-in-out;
    }
    .menu>ul>li>a:hover{
    color: rgba(255, 132, 0, 0.521);
    }
    .row-footer{
        display: flex;
    }
    .address{
        padding-top: 20px; 
        font-size: 12px;
    }
    .row-footer .col{
        flex: 1;
        line-height: 30px;
        padding-bottom: 20px;
    }
    .footer{
        font-size: 14px ;
        background-color: #262626;
        color: white;
        padding: 50px;
    }

    /* floating icon */
    .hostline{
        right: 50px;
        width: 20px;
        bottom: 50px;
        background-color: rgb(255, 132, 0);
        position: fixed;
        padding: 20px;
        border-radius: 50px;
    }
    /* banner */
    .banner img{
        width: 100%;
        height: 600px;
        object-fit: contain;
    }
    .white-background{
        background-color: white;
    }
    .products{
        padding-top: 20px;
        color: black;
        padding-bottom: 20px;
        border-radius: 15px;
        padding-left: 20px;
    }
    .product-image{
        
    }
    .product-image img{
        box-shadow: 0px 1px 5px rgba(175, 175, 175, 0.575);
        border-radius: 15px;
        width: 250px;
    }
    .product-cost{
        color: #6c6c6c;
    }
    .product-name{
        font-weight: bold;
    }
    .row-product{
        display: flex;
    }
    .product-banner img{
        width: 450px;
        box-shadow: 0px 0px 5px 2px rgba(175, 175, 175, 0.575);
        border-radius: 15px;
    }
    .greenTee-solgan{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        transform: translateX(-50px);  
        right: 0;
    }
    .greenTee-Text{
        padding-top: 20px;
        width: 600px;
        font-size: 20px;
        white-space: 200px;
        color: gray;
    }
    .greentee-btn{
        padding-top: 20px;
    }
    .greenTee-banner{
        padding-bottom: 100px;
    }
    .greentee-btn button{
        color: white;
        font-weight: bold;
        width: 100%;
        height: 35px;
        font-size: 16px;
        border-radius: 8px;
        background-color: rgb(102, 124, 4);
        border: none;
    }
    .greenTee-background{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .greenTee-background img{
        width: 100%;
    }
    .slide-banner{
        display: flex;
        width: 100%;    
        align-items: center;
        position: relative;
    }
    .slide-banner .col{
        flex: 1;
    }
    .slider-image img{
        width:700px;
        border-radius: 15px;
        
    }
    .slider-text-value{
        width: 300px;
        font-size: 17px;
        color: rgb(69, 69, 69);
    }
    .left-content{
        justify-items: center;
    }
    .right-content{
        
    }
    .red-btn{
        padding-top: 20px;
    }
    h3{
        font-size: 30px;
    }
    .red-btn button{
        color: white;
        font-weight: bold;
        width: 300px;
        height: 35px;
        font-size: 16px;
        border-radius: 8px;
        background-color: rgb(195, 0, 0);
        border: none;
        transition: 0.3s ease-in-out;
    }
    .bi-caret-down-fill{
        color: gray;
        font-size: 7px;
    }
    .red-btn button:hover{
        background-color: white;
        color: rgb(255, 132, 0);
        box-shadow: 0px 0px 0px 2px rgba(36, 153, 98, 0.352);
    }
    .yellow-background{
        background-color: #fff7e6;
        padding: 20px;
    }
    .blogs-image{   
        width: 100%;
        height: 200px;
        overflow: hidden;
        border-radius: 15px;
    }
    .blogs-image img{
        height: 200px;
        border-radius: 15px;
        width: 100%;
        transition: 0.3s ease-in-out;
    }
    .blog-img:hover{
        transform: scale(1.2) ;
    }
    .blogs{
        width: 350px;
    }
    .row-Coffeeholic{
        gap: 30px;
        display: flex;
        flex: 1;
        justify-content: center;
    }
    .blogs-date{
        padding-top: 15px;
        color: rgb(82, 82, 82);
        padding-bottom: 15px;
        
    }
    .blogs-title{
        font-size: medium;
        font-weight: bold;
        padding-bottom: 10px;
    }
    .glass-icon{
        width: 30px;
        background-repeat: no-repeat;
        height: 30px;
        background-image: url(https://file.hstatic.net/1000075078/file/coffee-2_2_92db24958ff14ac4b4249b3256f7a415.png);
    }
    .title-chuyenha{
        display: flex;
        width: auto;
        padding-top: 20px;
        padding-bottom: 30px;
        justify-content: center;
    }
    .glass-text{
        font-size: 30px;
        font-weight: bold;
    }
    .clu{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 70px;
        
    }
    .cli{
        border-left: 5px solid #d07900;
        padding-left: 10px;
        font-weight: bold;
        font-size: 24px;
    }

    .blogs-content{
        font-size: 14px;
        line-height: 25px;
    }
    .white-space{
        width: 200px;
        height: 100px;
    }